.container {
  padding-bottom: 3px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /* background-color: black; */
}

.form {
  padding: 0 9px;
}

.form :only-child {
  margin-top: 2px;
}

.input-userName input {
  width: 100%;
  padding: 6px 7px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-password input {
  width: 100%;
  padding: 6px 7px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login > :only-child {
  width: 100%;
  color: var(--ye-back);
  padding: 7px;
  margin-top: 3px;
}
.login :hover {
  background-color: black;
}

@media only screen and (min-width: 580px) {
  .form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    height: 42px;
  }

  .form > div {
    margin-right: 8px;
  }

  .input-userName {
    width: 190px;
  }
  .input-password {
    width: 190px;
  }
  .login {
    width: 90px;
    margin: 1px;
  }
}
