.login-container {
  margin: -3px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.forgotpassword-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.forgot-password {
  grid-column-start: -1;
  cursor: pointer;
  color: rgb(47, 0, 255);
  padding-right: 13px;
}

/* .form-large {
  margin-top: 10px;
  margin-right: 8px;
}
.form-large input[type="text"] {
  padding: 5px 8px;
  margin-right: 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-large input[type="password"] {
  padding: 5px 8px;
  margin-right: 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

/* .form-medium {
  margin-top: 10px;
  margin-right: 7px;
  margin-bottom: 5px;
  margin-left: 0px;
}
.form-medium input[type="text"] {
  padding: 5px 8px;
  margin-right: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-medium input[type="password"] {
  padding: 5px 8px;
  margin-right: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-medium-btn {
  margin: 7px;
  padding: 7px;
} */

/* .form-small input[type="text"] {
  width: 100%;
  padding: 7px 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-small input[type="password"] {
  width: 100%;
  padding: 7px 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-small input[type="submit"] {
  width: 100%;
} */
